
*{
    box-sizing: border-box;
}

/* ==========================================
   MOBILE (Default: 0px - 767px)
   ========================================== */

/* General */
body {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    padding: 0 20px;
    max-width: 100%;
}

/* Buttons */
button {
    background: rgb(229, 9, 20);
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
    width: 72px;
    cursor: pointer;
}

/* Logo */
#logo {
    width: 90px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
        url("resources/netflix_bg.jpg");
    min-height: 100vh;
    
}
/*Nav-container*/
.nav-container {
    width: 100%;
    padding: 20px 0;
}

/* Hero */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /*padding-top: 20px;*/
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    color: rgb(250, 250, 250);

    max-width: 600px;
    width: 100%;
    padding-top: 75px;
}

/* Typography */
h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
    
}

form > :first-child {
    width: 85%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #ffffff;
}

form > :last-child {
    width: 45%;
    min-width: 160px;
    height: 48px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10px;
}

/* Trending */
#trending {
    margin: 0 10px;
}

.movie-list {
    display: flex;
    gap: 24px;
    border-radius: 12px;
    overflow-x: auto;
}

.item {
    position: relative;
}

.item span {
    position: absolute;
    left: -15px;
    bottom: 10px;
    z-index: 2;
    font-size: 100px; /*changes the number*/
}

/* Reasons */
#reasons {
    display: block;
    padding-top: 30px;
}

.reasons-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

.card {
    background-color: blue;
    border-radius: 12px;
    height: 197px;
    padding: 5px 20px;
    margin-top: 10px;

    position: relative;
}
.card img{
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 2;
}

.card h3 {
    text-align: left;
    font-size: 20px;
}

.card p {
    color: rgba(255, 255, 255, 0.7);
}

/* FAQ */
#faq {
    padding-top: 30px;
    padding-bottom: 30px;
}

.faq {
    background-color: #2d2d2d;
    color: white;
    margin: 10px 0;
    align-items: center;
}

.faq summary {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    list-style: none;
}

.faq p {
    padding: 20px;
    font-size: 18px;
    border-top: 1px solid black;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
}

.footer-links {
    list-style: none;
    padding: 0 0 40px;
    margin: 0;
    cursor: pointer;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 45px;    
}

.footer span {
    color: rgba(255, 255, 255, 0.7);
}


/* ==========================================
   TABLET (768px and up)
   ========================================== */

@media (min-width: 768px) {

    button {
        width: 76px;
    }
    header{
        min-height: 60vh;
    }


    #logo {
        width: 88px;
        height: 24px;
    }
    
    #hero-content {
        /*max-width: 432px;*/

        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 100px 50px;
    }

    form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    form > :first-child {
        width: 100%;
    }

    form > :last-child {
        width: 100%;
        width: 180px;
        
    }

    

    footer {
        display:flex;
        flex-direction: column;
    }
    footer form{
        gap: 1px;
        padding-bottom: 50px;
    }
    footer p{
        justify-content: center;
        text-align: center;
    }

    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ==========================================
   PC / DESKTOP (1024px and up)
   ========================================== */

@media (min-width: 1024px) {

    #logo {
        width: 148px;
        height: 40px;
    }
    header{
        min-height: 50vh;
    }
    .nav-container {
        max-width: 1919px;
        margin: 15px auto;
        padding: 0 50px;
    }

    #hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #hero-content {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    footer form > :first-child {
        width: 50%;
    }

    

    .section {
        padding: 0 50px;
    }
    
    .reasons-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }



    .footer-links{
        grid-template-columns: repeat(3, 1fr);
    }

}